body {
	font-size: 3.5em;
	color: white;
	background-image: url("http://gulk.ca/img/404image.jpg");
	background-color: #F4D8CC;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}